.navbar{
  background-color: rgb(250, 250, 250);
  display: flex;
  align-items: center;
  justify-content: space-between;
padding: 0px 30px;
}
.logorel{
  display: flex;
  align-items: center;
  gap:10px;
}
.adminprofile{
  height: 50px;
  border-radius: 35px;
}
.weblogo{
  
  height: 50px;
}
.titlelogo{
  margin-bottom: -15px;
}
.logorel h3{
color: rgb(95, 93, 93);
}
